<form action="/my-handling-form-page" method="post">
    <div>
      <label for="word">Word:</label>
      <input type="text" id="word" name="word">
    </div>

  <div class="button">
    <button type="submit">Validate Word</button>
  </div>
</form>